[submodule "lib/protocol"]
	path = lib/protocol
	url = https://github.com/talarma-code/matter-like-protocol
[submodule "lib/active-rt-framework"]
	path = lib/active-rt-framework
	url = https://github.com/talarma-code/active-rt-framework
